.product{
    display: inline-block;
    width: auto;
    margin: 10px;
}

.product h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
    color: white;
    background-color: #333;
}