
<div>
    <select name="" id="" [(ngModel)]="selectedPlatform">
        <option *ngFor="let currentPlatform of allPlatforms" value={{currentPlatform}}>{{ currentPlatform }}</option>
    </select>

    <!-- <input  type="text" placeholder="Filter by platform"> -->

    <p>{{selectedPlatform}}</p>
</div>
<div class="products">
    <div *ngFor="let currentProduct of products | platformFilter:selectedPlatform" class="product">
        <h3>{{ currentProduct.name }}</h3>
        <img [src]="currentProduct.img" [alt]="currentProduct.name">
        <p>{{ currentProduct.description }}</p>
        <p>Price: {{ currentProduct.price }}€</p>
        <p>Platform: {{ currentProduct.platform }}</p>
    </div>
</div>