<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label>Email: </label>
        <input type="email" formControlName="email" />
        <p *ngIf="form.get('email')?.errors?.['invalidEmail']">
            L'email est invalide
        </p>
    </div>

    <div>
        <label>Password: </label>
        <input type="password" formControlName="password" />

        @if (form.get('password')?.touched && form.get('password')?.errors?.['tooShortPassword']){
            <p>Mot de passe trop court</p>
        }
        
    </div>

    <button type="submit" [disabled]="!form.valid">Connexion</button>
</form>